<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}the war against chores{% endblock %}</title>
</head>
<body>
    <!-- Navbar at the top of the page -->
    <nav>
        <span>
            <a href="{{ url_for('index') }}">home</a>
            <a href="{{ url_for('chores') }}">chores</a>
        </span>

        <form action="{{ url_for('create_claim') }}" method="POST" class="claim_box">
            <select name="chore_id">
                <option value="" disabled selected>select a chore</option>
                {% for chore in chores %}
                    <option value="{{ chore.id }}">{{ chore.name }} - {{ chore.value }} rmb</option>
                {% endfor %}
            </select>
            <button name="completed_by" value="jenny" type="submit">jenny</button>
            <button name="completed_by" value="zep" type="submit">zep</button>
        </form>
    </nav>

    <!-- Displaying flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <!-- The page-specific content will be inserted here -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 jenny inc.</p>
    </footer>
</body>
</html>
