<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alert.css') }}">
    <title>{% block title %}the war against chores{% endblock %}</title>
</head>
<body>
    <!-- Navbar at the top of the page -->
    <nav>
        <span>
            <a href="{{ url_for('index') }}">home</a>
            <a href="{{ url_for('chores') }}">chores</a>
        </span>

        <form name="choreForm" action="{{ url_for('create_claim') }}" method="POST">
            <select name="completed_by" required>
                {% for user in users %}
                    <option value="{{ user }}"{% if whoami == user %} selected{% endif %}>
                        {{ user }}
                    </option>
                {% endfor %}
            </select>
            <select name="chore_id" required onchange="document.choreForm.submit();">
                <option value="" disabled selected>select a chore</option>
                {% for chore in chores %}
                    <option value="{{ chore.id }}">{{ chore.name }} - {{ chore.value }} patacas</option>
                {% endfor %}
            </select>
        </form>
    </nav>

    <!-- The page-specific content will be inserted here -->
    <main>
        <!-- Displaying flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert--{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
