{% macro render_chores_select(chores) %}
    <form action="{{ url_for('create_claim') }}" method="POST">
        <select name="chore_id">
            <option value="" disabled selected>Select a chore</option>
            {% for chore in chores %}
                <option value="{{ chore.id }}">{{ chore.name }} - {{ chore.value }} rmb</option>
            {% endfor %}
        </select>
        <button name="completed_by" value="jenny" type="submit">jenny</button>
        <button name="completed_by" value="zep" type="submit">zep</button>
    </form>

{% endmacro %}
