<!-- templates/edit_claim.html -->
{% extends "base.html" %}

{% block title %}edit claim{% endblock %}

{% block content %}    
    <h1>edit claim</h1>

    <div class="edit__container">
        <form action="{{ url_for('edit_claim', id=claim.id) }}" method="POST">

            <select name="chore_id" required>
                {% for chore in chores %}
                    <option value="{{ chore.id }}" 
                            {% if chore.id == claim.chore_id %} selected {% endif %}>
                        {{ chore.name }} - {{ chore.value }} patacas
                    </option>
                {% endfor %}
            </select>
            
            <label for="value">value</label>
            <input type="number" id="value" name="value" value="{{ claim.value }}" required />
    
            <label for="completed_at">completed at</label>
            <input type="datetime-local" 
                   id="completed_at" 
                   name="completed_at" 
                   value="{{ claim.completed_at.strftime('%Y-%m-%dT%H:%M') }}"
                   min="{{ completed_at_min }}"
                   max="{{ completed_at_max }}"
                   required />
    
            <label for="completed_by">completed by</label>
            <select name="completed_by" required>
                {% for user in users %}
                    <option value="{{ user }}" 
                            {% if user == claim.completed_by %} selected {% endif %}>
                        {{ user }}
                    </option>
                {% endfor %}
            </select>
    
            <label for="note">note (optional)</label>
            <textarea id="note" name="note">{{ claim.note }}</textarea>
    
            <button type="submit">save</button>
        </form>

        <form action="{{ url_for('edit_claim', id=claim.id) }}" method="POST">
            <button name="delete" value="1" type="submit" class="edit__button--delete">delete</button>
        </form>
    </div>
{% endblock %}
